.multi-item-carousel .carousel-indicators
{
    position: initial;
    z-index: 15;
    width: 100%;
    margin: 0; 
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.multi-item-carousel .carousel-indicators li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 8px;
    text-indent: -999px;
    border: 1px solid #888;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
}

.multi-item-carousel .carousel-indicators .active {
    margin: 7px;
    width: 18px;
    height: 18px;
    background-color: #666;
}

.multi-item-carousel {
    margin-top: 2em;
    overflow: hidden;
}
.multi-item-carousel img {
  height: auto;
  width: 100%;
}
.multi-item-carousel .carousel-control {
    background: rgba(255, 255, 255, 0.7);
    width: 33.333333%;
    opacity: 1;
    height: calc(100% - 150px);
}
.multi-item-carousel .carousel-control:hover {
    opacity: 1;
}
.multi-item-carousel .carousel-inner {
  width: 100%;
  left: 0;
}
/*.carousel-inner > .item.next, */
/*.carousel-inner > .item.active.right {*/
/*    -webkit-transform: translate3d(33%, 0, 0);*/
/*    transform: translate3d(33%, 0, 0);*/
/*}*/
/*.carousel-inner > .item.prev, */
/*.carousel-inner > .item.active.left {*/
/*    -webkit-transform: translate3d(-33%, 0, 0);*/
/*    transform: translate3d(-33%, 0, 0);*/
/*}*/
.item__third {
  float: left;
  width: calc(33.33333333% - 30px);
  margin: 15px;
}
.description {
    display: inline-block;
    height: 150px;
}

#heritage .add-on.p-xl {
    margin-right: 6em;
    width: 65%;
}

#heritage .carousel-indicators
{
    position: initial;
    z-index: 15;
    width: 100%;
    margin: 0; 
    padding-left: 0;
    list-style: none;
    text-align: center;
}
#heritage .carousel-indicators li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 8px;
    text-indent: -999px;
    border: 1px solid #888;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
}

#heritage .carousel-indicators .active {
    margin: 7px;
    width: 18px;
    height: 18px;
    background-color: #666;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item.next,
    .multi-item-carousel .carousel-inner > .item.active.right {

        -webkit-transform: translate3d(33%, 0, 0);
        transform: translate3d(33%, 0, 0);
    }
    .multi-item-carousel .carousel-inner > .item.prev,
    .multi-item-carousel .carousel-inner > .item.active.left {

        -webkit-transform: translate3d(-33%, 0, 0);
        transform: translate3d(-33%, 0, 0);
    }
    .multi-item-carousel .carousel-inner > .item.next.left,
    .multi-item-carousel .carousel-inner > .item.prev.right,
    .multi-item-carousel .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}